@media screen and (min-width: 768px) {
    
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 16px;
        gap: 8px;
    }
    .description {

        font-size: 1.1rem;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {
    
    .list {

        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
}

.item {

    margin: 12px;
}

.itemTitle {

    margin-bottom: 8px;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
}

.description {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.25rem;
}