.boxAbout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    font-size: 18px;
    padding: 6px;
    min-height: 500px;
}

.boxAboutTitle {

    margin: 32px;
    grid-column: span 3;
    font-size: 32px;
    font-family: 'Playfair Display', sans-serif;
    justify-self: center;
}

@media screen and (max-width: 768px) {

    .boxAbout {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: center;
        justify-items: center;
    }
}