@media screen and (max-width: 425px) {
    
    .nav {
        margin-bottom: 56px;
    }
    .navList {

        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }
    .logo {

        order: -1;
        transform: translateX(10px);
    }
}

@media screen and (min-width: 425px) and (max-width: 829px) {

    .navList {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        text-align: center;
    }

    .logo {

        order: -1;
        grid-column: span 4;
        justify-self: center;
        margin: 8px;
    }
}

@media screen and (min-width: 830px) {
        
    .nav {

        font-size: 18px;
        height: 80px;
        width: 100%;
        transform: translateX(-2%);
        margin-top: 16px;
    }

    .navList {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 46px;
    }

    .link:hover {

        color: rgb(221, 208, 208);
    }

}

.navList {

    margin: 8px;
    word-wrap: break-word;
}

.nav {

    font-size: 1.2rem;
    height: 80px;
}


.link {

    color: white;
}