.footer {

    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    justify-content: space-evenly;
    height: 88px;
    font-family: 'Fredoka', sans-serif;
    background: var(--orange);
    color: white;
    font-size: 20px;
    padding: 12px;
}

.credits {

    display: flex;
    gap: 13px;
    align-items: center;
    margin: 16px;
}