@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat&family=Playfair+Display&display=swap');

:root {

    --green: rgba(29, 146, 72, 1);
    --orange: #F18500;
    --gray: #F2F2F2
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Playfair Display', 'Montserrat', 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
}

ul {

    list-style: none;
}

button {

    font-family: 'Montserrat', sans-serif;
    background: rgba(29, 146, 72, 1);
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px;
    margin: 24px 0;
    width: auto;
}

button:hover {

    background: rgb(25, 123, 61);
    color: #f1f0f0;
}

.whatsapp {

    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: 200ms;
}

.whatsapp:hover {

    transition: 200ms;
    bottom: 30px;
}