@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

:root {

    --green: rgba(29, 146, 72, 1);
    --orange: #F18500;
    --gray: #F2F2F2
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Playfair Display', 'Montserrat', 'Fredoka', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {

    list-style: none;
}

p{   
    word-wrap: break-word;
}

button {

    font-family: 'Montserrat', sans-serif;
    background: rgba(29, 146, 72, 1);
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px;
    margin: 24px 0;
    width: auto;


}

button:hover {

    background: rgb(25, 123, 61);
    color: #f1f0f0;
}
